<ion-view view-title="Projet GEN">
  <ion-content class="padding">
    <h2>Bienvenue sur notre plateforme</h2>
    <p>
      Vous pouvez ici ajouter des mots dans la base de donnée ou en rechercher 
    </p>

    <label class="item item-input">
      <span class="input-label">taper le mot ici : </span>
      <input type="text" ng-model="addWord.word">
    </label>

    <form ng-if="addWord.word != null" ng-submit="doAdd()">
          <button class="button button-block button-positive" type="submit">Ajouter</button>
    </form>

    <form ng-if="addWord.word != null" ng-submit="doSearch()">
          <button  ng-submit="doSearch()" class="button button-block button-positive" type="submit">Rechercher</button>
    </form>
  
    <form ng-submit="doFile()">
          <button  ng-submit="doFile()" class="button button-block button-positive" type="submit">Afficher les fichiers décoder</button>
    </form>

  </ion-content>
</ion-view>
